body{
    background: WHITE;
    font-family: 'Lucida Sans';
    font-size: 1.2em;
}
*{
    font-family: 'Source Serif Pro', serif;
}
.cuerpo{
    background: lightblue;
}
#container h1{
    text-align: center;
}
#contenido{
    margin-left: 20%;
    margin-right: 20%;

}
form{
    margin-bottom: 30px;
}
.input-text{
    height: 25px;
    width: 90%;
    margin: 5px;
    background:white;
    color: black;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid;
    border-radius: 5px;
}
.button{
    height: 30px;
}
td{
    text-align: center;
}
img{
    width: 15px;
}
h1{
    color:rgb(19, 92, 88);
}
h3{
    color:black;
}
.label-txt{
    color: black;   
}
.titulos th{
    color: black;
    padding-left: 40px;
}
.titulos td{
    padding-left: 40px;
    color: black;
}
.btn{
    font-size: 16px;
    margin: 10px 5px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background:cadetblue;
}
.btn:hover{
    background: black;
}